.settings-icon{
  top: 12px !important;
  left: 40px !important;
}
.settings-title{
  font-size: 28px;
  color: #fff;
}
.dx-warning{
  border: 5px solid #ffffff !important;
}
.xe-icon i{
  background-color: #26cad3 !important;
}